.sidebarbg {
  background-color: #252728;
  height: 100vh;
  width: 250px;
}

.maincontent {
  width: auto;
  height: 100vh;
  background-color: black;
}

#root {
  overflow: hidden;
}

.sidebartop {
  display: flex;
  justify-content: center;
  height: auto;
}
.background1 {
  width: 250px;
  margin-top: -100px;
}

.logo1 {
  position: absolute;
  width: 75px;
  height: 75px;
  margin-top: 20px;
}

.label1 {
  z-index: 1;
  color: white;
  margin-top: 100px;
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Poppins", serif;
  position: absolute;
}

.sidebarmiddle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1; /* Make it take the remaining space */
  gap: 12px;
}
.button {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: #252728;
  background-color: #252728;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 350;
  justify-content: left;
  justify-items: baseline;
}

.button:hover {
  background-color: #333334;
  font-weight: 600;
}

.button.active {
  background-color: #333334;
  font-weight: 600;
}

.logout-container {
  align-self: 0;
}
.sidebarbg {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  background-color: #252728;
  height: 100vh;
  width: 250px;
}

.sidebartop {
  display: flex;
  justify-content: center;
  height: auto;
}

.sidebarmiddle {
  flex: 1; /* Make it take the remaining space */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 30px;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: #252728;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 350;
  justify-content: left;
  justify-items: baseline;
}

.button:hover {
  background-color: #333334;
  font-weight: 600;
}

.button.active {
  background-color: #333334;
  font-weight: 600;
}

.logout-container {
  padding: 20px 10px; /* Add spacing around the logout button */
}

.logoutbtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #252728;
  border: #252728;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 350;
  text-align: center;
  cursor: pointer;
}

.logoutbtn:hover {
  background-color: #333334;
  font-weight: 600;
}

.rootcontent {
  display: flex; /* To place Sidebar and Dashboard side by side */
  width: 100vw; /* Full width of the screen */
  background-color: #f0f0f0;
  height: 100vh; /* Full height of the screen */
}

.dashboardbg {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  flex: 1; /* Take up remaining space after Sidebar */
  background-color: #111111; /* Example background color for the dashboard */
}

.postsbg {
  flex: 1;
  background-color: aqua;
}

.navBar {
  min-height: 70px;
  display: flex;
  background-color: #1c1c1d;
  width: 100%;
  align-items: center;
  padding-left: 20px;
}

.navbartext {
  color: whitesmoke;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.6em;
}

.dashboardpanelcontainer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.dashboardpanel {
  background-color: #1c1c1d;
  width: 100%;
  height: 160px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-top: 15px;
}

.dpanellabel {
  font-family: "Poppins";
  font-size: 4em;
  font-weight: 500;
}

.dpaneltext {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 300;
}

.dashboardpanel:hover {
  background-color: #262627;
  cursor: pointer;
}

.dpanellabel,
.dpaneltext:hover {
  cursor: pointer;
}

.dtableheader {
  font-family: "Poppins";
  font-size: larger;
  margin-bottom: 15px;
}

.dashboardtablecontainer {
  padding: 30px;
  margin-bottom: 40px;
  max-width: 100%;
  background-color: #1c1c1d;
  border-radius: 20px;
  overflow-x: auto;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Poppins", sans-serif;
}
.poststablecontainer {
  padding: 30px;
  margin-bottom: 40px;
  max-width: 100%;
  background-color: #1c1c1d;
  border-radius: 20px;
  overflow-x: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  background-color: #474747;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #333334;
  color: #fff;
  font-family: "Poppins";
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  font-family: "Poppins";
}

th {
  font-size: 0.9em;
  font-weight: 500;
  font-family: "Poppins";
  letter-spacing: 0.1em;
}

tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

tbody tr:nth-child(even) {
  background-color: #eaeaea;
}

tbody tr:hover {
  background-color: #afafaf;
  cursor: pointer;
}

td {
  font-size: 0.9em;
  color: #333;
  font-family: "Poppins";
}

td:last-child {
  text-align: center; /* Center-align flagged column */
}

table,
th,
td {
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  table {
    font-size: 0.8em;
  }

  th,
  td {
    padding: 8px 10px;
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 25px;
  align-items: center;
}

.filter1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.filterlabel {
  font-size: small;
  font-family: "Poppins";
}

.userSearch,
.dateSearch {
  height: 40px;
  background-color: #252728;
  border: none;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Poppins";
  font-size: large;
}
.loginpage {
  padding: 20px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registerlabelnav {
  color: #111111;
}
.registerlabel {
  color: #111111;
  font-weight: 700;
}

.addButton {
  background-color: #252728;
  padding: 5px;
}

textarea {
  resize: none;
}

.addpostoverlay,
.editpostoverlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.addpostoverlay.show {
  display: flex; /* Show the modal */
}

.addpostforminput {
  margin: 10px;
}

.close-button {
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.submit-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.overlaycontainer {
  background-color: #111111;
  display: flex;
  padding: 20px;
  border-radius: 25px;
  width: 400px;
  justify-content: center;
}

.overlayform {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.close-button,
.submit-button {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.overlaybutton {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.overlaylabel2 {
  margin: 0;
  justify-self: center;
}

.overlaylabel {
  font-size: small;
  margin: 0;
  font-family: "Poppins";
}
.addpostforminput {
  font-family: "Poppins";
  margin: 0;
  margin-bottom: 10px;
  background-color: #474747;
  border: 0;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.headeroverlay {
  margin-bottom: 10px;
}

.addpostforminputs {
}

.addButton {
  background-color: #252728;

  padding: 15px;
}

textarea {
  resize: none;
}

.addpostoverlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.editpostoverlay.show {
  display: flex; /* Show the modal */
}
.addpostoverlay.show {
  display: flex; /* Show the modal */
}

.addpostforminput {
  margin: 10px;
}

.close-button {
  top: 10px;
  right: 10px;
  background: rgb(39, 39, 39);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.submit-button {
  background-color: rgb(39, 39, 39);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.overlaycontainer {
  background-color: #111111;
  display: flex;
  padding: 20px;
  border-radius: 25px;
  width: 400px;
  justify-content: center;
}

.overlayform {
  display: flex;
  flex-direction: column;
}

.close-button,
.submit-button {
  width: 120px;
}
.overlaybutton {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}
.overlaylabel2 {
  margin: 0;
  justify-self: center;
}

.overlaylabel {
  font-size: small;
  margin: 0;
  font-family: "Poppins";
}
.addpostforminput {
  font-family: "Poppins";
  margin: 0;
  margin-bottom: 10px;
  background-color: #474747;
  border: 0;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.headeroverlay {
  margin-bottom: 10px;
}

.addpostforminputs {
}

.inputDate::-webkit-calendar-picker-indicator {
  opacity: 0; /* Hide the default calendar icon */
}

.inputDate[type="date"] {
  font-family: "Poppins"; /* Use the same font as the parent element */
  font-weight: 500;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23333333" viewBox="0 0 24 24" width="10" height="24"%3E%3Cpath d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM5 20V9h14v11H5zm7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/%3E%3C/svg%3E')
    no-repeat right 8px center;
  background-color: white; /* Input background color */
  background-size: 24px;
  border: 0;
  border-radius: 20px;
  color: #111111;
  padding-left: 10px;
  padding-right: 10px;
}

.inputDate {
  flex: 1;
}
