.container {
  display: flex;
  position: relative; /* Ensures proper positioning for the pseudo-element */
  height: 100vh;
  width: 100vw;
  background-color: #000; /* Fallback background color */
  color: #fff;
  z-index: 1; /* Ensures content is above the background */
  overflow: hidden; /* Ensures no content overflows */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/logobg.png"); /* Make sure the image path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4; /* Adjust this value for desired transparency */
  z-index: -1; /* Sends the pseudo-element behind the content */
  pointer-events: none; /* Ensures background doesn't interfere with content interaction */
}
/* Left Section */
.left-sectionl {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

.logo-image {
  width: 300px;
  height: 300px;
}

.brand-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* Right Section */
.right-sectionl {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-top: 100px;
  padding: 0 0 0 15px;
}

.main-heading {
  font-size: 45px;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 22px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 250px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
}

.lbutton {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 150px;
  margin-right: 150px;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}
