.containerr {
  display: flex;
  position: relative; /* Ensures proper positioning for the pseudo-element */
  height: 100vh;
  width: 100vw;
  background-color: #000; /* Fallback background color */
  color: #fff;
  z-index: 1; /* Ensures content is above the background */
  overflow: hidden; /* Ensures no content overflows */
}

.containerr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/logobg.png"); /* Make sure the image path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4; /* Adjust this value for desired transparency */
  z-index: -1; /* Sends the pseudo-element behind the content */
  pointer-events: none; /* Ensures background doesn't interfere with content interaction */
}
/* Left Section */
.left-sectionr {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-imager {
  width: 300px;
  height: 300px;
}

.brand-titler {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  font-family: "Poppins";
  font-weight: 300;
  text-align: center;
}

/* Right Section */
.right-sectionr {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-top: 100px;
  padding: 0 20px;
}

.main-headingr {
  margin: 0;
  font-size: 0.7in;
  font-family: "Poppins";
}

.sub-headingr {
  font-size: 0.3in;
  margin-bottom: 30px;
  font-family: "Poppins";
}

.formr {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Poppins";
  padding-right: 250px;
}

.form-rowr {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  font-family: "Poppins";
  border-radius: 20px;
  color: #000;
}
.bdaylabel {
  display: none;
  position: absolute;
  left: 10px;
  top: -20px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire background */
  z-index: -1; /* Places the image behind all other elements */
}
.input-container {
  position: relative;
}
.inputDate {
  height: 100%;
}
.input-container:hover .bdaylabel {
  display: block;
  opacity: 1;
}
.buttonr {
  padding: 10px;
  background-color: #5e5e5e;
  border: none;
  color: #ffffff;
  border-radius: 100px;
  cursor: pointer;
}

.linkers {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.linkers label {
  font-size: smaller;
}
.linklabel1 {
  font-weight: 700;
}
.logo-containerr {
  margin-left: 14px;
}

.errormsg {
  font-size: small;
  margin: 0;
  width: 100%;
  text-align: center;
}
